*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: 100px;
}
html,body {
    width: 100%;
    height: 100%;
   

}
/*附近*/
#fujin{
    width: 100%;
    height: 100%;
    overflow: hidden;
   
}
/*版心*/
#fujin .banxin{
    width: 92%;
    margin: auto;

}
/*附近动态*/
#fujin .banxin .fujin{
    display: flex;
    justify-content: center;
    background: white;
    width: 110%;
    margin-left: -0.35rem;


}
/*附近动态字体*/
#fujin .banxin p{
    color: #ff5858;
    font-size: 0.32rem;
    padding: 0.5rem;
}
#fujin .banxin p:nth-of-type(2){
    color: black;
}
/*背景图*/
#fujin .banxin .banner{
    width: 7.50rem;
    height: 2.20rem;
    background: url("../imgs/附近/附近banner@2x.png");
    background-size: cover;
    /*margin-left: -0.2rem;*/
    margin-left: -0.31rem;
    overflow: hidden;
}
/*背景图字体*/
#fujin .banxin .banner p{
    font-size: 0.38rem;
    color: white;
   margin-top: -0.2rem;
}
#fujin .banxin .fujinren{
    display: flex;
   justify-content: space-between;
   height: 1.6rem;
   
}

#fujin .banxin .fujinren>div{
     display: flex;
    justify-content: space-between;
    align-items: center;
}
#fujin .banxin .fujinren p{
    font-size: 0.32rem;
    color: black; 
}
#fujin .banxin .fujinren p.titleren {
    padding: 0;
    height: 1.6rem;
    line-height: 1.6rem;
}
#fujin .banxin .fujinren div img{
    width: 2.3rem;
    height: 0.8rem;
    margin-left: 0.5rem;
}
#fujin .banxin .fujinren div img:nth-of-type(2){
    width: 0.6rem;
    height: auto;
    margin: -0.2rem; 
    margin-left: 0.1rem;
}
/*#fujin .banxin .fujinren div:nth-of-type(1){*/
    /*position: relative;*/
    /*left: 1.75rem;*/
/*}*/
/*#fujin .banxin .fujinren div:nth-of-type(2){*/
   /*position: relative;*/
    /*left: 0.85rem;*/
/*}*/
#fujin .tupian{
    width: 100%;
}
#fujin .tupian ul{
display: flex;
    flex-wrap: wrap;
}
#fujin .tupian ul li:nth-of-type(1){
    width: 3.32rem;
    height: 4.65rem;
    background-color: white;
    border-radius: 0.2rem;
}
#fujin .tupian ul li:nth-of-type(2){
    width: 3.32rem;
    background-color: white;
    border-radius: 0.2rem;
    margin-left: 0.23rem;

}
#fujin .tupian ul li:nth-of-type(3){
     width: 3.32rem;
    height: 5.56rem;
     background-color: white;
     border-radius: 0.2rem;
       margin-top: -0.6rem;
 }
#fujin .tupian ul li:nth-of-type(4){
    width: 3.32rem;
    background-color: white;
    border-radius: 0.2rem;
    margin-left: 0.23rem;
    margin-top: 0.3rem;

}
#fujin .tupian ul li .wt{

background-color: #F29B76;
    border-radius: 0.2rem;
}
#fujin .tupian ul li .wt img{
    width: 3.32rem;
    height: 2.71rem;
}
#fujin .tupian ul li .ziti{
display: flex;
  margin-top: 0.12rem;
}
#fujin .tupian ul li .ziti span{
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
  margin-left: 0.1rem;
}
#fujin .tupian ul li .ziti span img{
    width: 0.9rem;
    height: 0.9rem;
    display: block;
    margin-top: 0rem;
}
#fujin .tupian ul li .ziti p{
    color: black;
    font-size: 0.3rem;
   margin-top: -0.25rem;
    margin-left: -0.2rem;
}
/*离开*/
#fujin .tupian ul li .likai{
    font-size: 0.24rem;
    margin-left: 0.12rem;
 padding-bottom: 0.32rem;
    color: grey;
}
#fujin .tupian ul li:nth-of-type(n) .wt{
    width: 3.32rem;
    height: 2.71rem;
}
#fujin .tupian ul li:nth-of-type(2n) .wt{
    width: 3.32rem;
    height: 3.63rem;
}
#fujin .tupian ul li:nth-of-type(2n) .wt img{
    width: 3.32rem;
    height: 3.63rem;
}
#fujin .tupian ul li:nth-of-type(3n) .wt{
    width: 3.32rem;
    height: 3.64rem;
}
#fujin .tupian ul li:nth-of-type(3n) .wt img{
    width: 3.32rem;
    height: 3.64rem;
}
#fujin .tupian ul li:nth-of-type(4n) .wt{
    width: 3.32rem;
    height: 3.21rem;
}
#fujin .tupian ul li:nth-of-type(4n) .wt img{
    width: 3.32rem;
    height: 3.21rem;
}